@charset "utf-8";
/* CSS Document */

/*------------------GENERAL-------------------*/

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.paddingleft {
	padding-left: 120px;
}

.anteriorsiguiente {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 50px;
}

.botonantsig {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	padding: 10px;
}

.botonantsig:hover {
	border: 2px solid #508B59;
	border-radius: 30px;
	padding: 10px;
}

.solomobile {
	visibility: hidden;
}

.solodesktop {
	visibility: visible;
}
/*------------------HEADER-------------------*/

header {
	background-color: #508B59;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 5;
}

header div {
	justify-content: flex-start;
	padding-left: 10px;
}

header nav ul li {
	text-decoration: none;
	list-style: none;
	font-family: 'Inika', serif;
	display: inline-block;
	align-items: flex-end;
	background: #508B59;
	color: white;
	padding-right: 15px;
	float: left;
	justify-content: flex-end;
	padding-left: 5px;
}

.logobotonera{
	padding-left: 25px;
}

.opciones{
	display: flex;
	position: absolute;
	flex-direction: column;
	text-align: left;
	top: 55px;
}

nav li:hover .opciones{
	display: flex;
}

nav li .opciones {
	display: none;
}

.submenu {
	width: 100%;
}

.botoneraheader {
	display: flex;
	text-decoration: none;
	color:black;
	padding-right: 25px;
	padding-left: 60px;
	height: 60px;
	align-items: center;
}

.botoneraheader ul, .botoneraheader ul li{
	display: flex;
	height: 60px;
	align-items: center;
}

.botoneraheader ul li{
	cursor: pointer;
}

.botoneramobile{
	display: none;
}

.headermobile {
	position: fixed;
	top: 50px;
	right: 50px;

}

/*------------------MAIN GENERAL-------------------*/

h1 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 2.5em;
	padding-top: 40px;
	padding-bottom: 20px;
}

h2 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 1.7em;
	margin-top: 100px;
	padding-bottom: 20px;
	z-index: 1;
}

h3 {
	font-family: 'Original Surfer', cursive;
	color: #508B59;
	font-size: 1.8em;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	flex-direction: row;
}

h4 {
	font-family:'open-sans', "Alegreya Sans";
	color: white;
	font-size: 1em;
	padding-bottom: 10px;
}

h5 {
	font-family:'open-sans', "Alegreya Sans";
	font-size: 0.8em;
	color: white;
}

h6 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 1.2em;
	padding-bottom: 10px;
	padding-top: 5px;
}

h7 {
	font-family:'open-sans', "Alegreya Sans";
	color: #508B59;
	font-size: 1em;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 0px;
}

h8 {
	font-family:'open-sans', "Alegreya Sans";
	color: #508B59;
	font-size: 1em;
	padding-top: 10px;
}

p {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	padding-top: 10px;
	
}

h11 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 1.7em;
	padding-top: 20px;
	padding-bottom: 20px;
}

h12 {
	font-family: 'Original Surfer', cursive;
	color: #508B59;
	font-size: 2.5em;
	padding-bottom: 20px;
}

.columnaizq {
	width: 100%;
	align-content: center;
}

.columnader {
	width: 100%;
	text-align: center;
	padding-top: 150px;
	justify-content: center;
}

.letrasblancas {
	color: white;
}

.letrasnaranjas {
	color: #EC881D;
}

.letrasverdes {
	color: #508B59;
}

.datosrecetas {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.gap {
	gap: 150px;
}

/*------------------MAIN INICIO-------------------*/


.maincolumnas{
	max-width: 100%;
	background-image: url("img/formafondo.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
	height: inherit;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.botonera {
	display: inline;
}

.botones{
	width: 30%;
	height: 40px;
	margin: auto;
	margin-top: 16px;
	font-size: 0.2em;
	font-family: "Original Surfer",cursive;
	border: none;
	border-radius: 30px;
	background: #EC881D;
	color: white;
	cursor: pointer;
	padding-left: 5px;
}

.registro {
	justify-content: space-evenly;
	font-family: 'Original Surfer', cursive;
	color: white;
	font-size: 1.4em;
	padding-top: 5px;
}

.boton {
	background-color: #EC881D;
	border-radius: 30px;
	border:none;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	height: 45px;
}

.boton:hover {
	background-color: #508B59;
}

.textoquepodesencontrar {
	width: 70%;
	margin-left: 95px;
	padding-bottom: 60px;
}

.textosabesloquees {
	width: 80%;
	margin-left: 55px;
	padding-bottom: 150px;
}


article {
	display:flex;
	flex-direction: column;
}

.gracias{
	padding-top: 90px;
}

.preguntainicio{
	padding-top: 30px;
}

.sabes{
	padding-top: 180px;
}

.flecha {
	position:absolute; 
	animation-name: flecha;
	margin-top: 50px;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-play-state: running;
}

@keyframes flecha {
	to { 
	padding-top: 50px;}
}

/*------------------INICIAR SESION REGISTRARSE-------------------*/

.ingresar {
	display:flex;
	flex-direction: row;
	font-family:"Inika", serif;
	background: #EC881D;
	align-items: center;
	padding-left: 120px;
	padding-right: 120px;
	gap: 100px;
	height: 100vh;
}

.Formulario-inicio{
	width: 100%;
	font-family:"Inika", serif;
}

.Formulario-registro{
	width: 100%;
	font-family:"Inika", serif;
}


.Controles{
	background:#EC881D;
	padding:10px 20px 10px 10px;
	margin-bottom:10px;
	margin-top: 10px;
	font-size:0.8em;
	display: flex;
	flex-direction: row;
	width: 70%;
}

.Controlesregistro{
	width: 80%;
	background:#EC881D;
	padding:30px;
	margin-bottom:5px;
	font-family:"Inika", serif;
	border:none;
	font-size:1em;
}

.boton-iniciarsesion-registrarse{
	width: 35%;
	height: 50px;
	border-radius: 30px;
	background: white;
	color: #508B59;
	font-size: 1.4em;
	border: none;
	font-family: "Original Surfer",cursive;
	margin-top: 30px;
	cursor: pointer;	
}
	
.olvidastecontrasenia, label{
	color:white;
}

label{
	font-size:1.5em;
	margin-bottom:10px;
	padding-top: 60px;
}

.olvidastecontrasenia {
	text-decoration:none;
	background: #EC881D;
	border: none;
	font-size:0.9em;
	margin-top:20px;
	cursor: pointer;
}

hr {
	margin-top:10px;
	padding-bottom: 0px;
}

label{
	font-size:1.2em;
	padding-bottom: 5px;
	padding-top: 10px;
	
}

input type, label{
	color:white;
}

/*------------------MAIN RECETAS-------------------*/
.circulos {
	display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}


/*------------------MAIN CARDS-------------------*/

.maincards {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
}

.cards {
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.selecciondeimagenes {
	border:10px solid;
	border-radius:100%;
	border-color: #FFFFFF;
}

.selecciondeimagenes:hover {
	border:10px solid;
	border-radius:100%;
	border-color: #508B59;
}

.contenedorcards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 35px;
}

.sectioncards {
	justify-content: space-around;
}

/*------------------MAIN SINTAXIS PALERMO-------------------*/

.sectionrestaurante {
	display: flex;
	flex-direction: row;
}

.container {
	margin:auto;
	width: 800px;
	padding: 30px 30px 30px 0px;
	height: 500px;
}

.menu {
	text-align: center;
	margin: 240px 20px 20px 20px;
	z-index: 10;
}

.menu a {
	color:black;
}

.slider {
	position: relative;
	width:800px;
	height: 300px;
	
}

.slider li {
	position: absolute;
	left: 0px;
	top:0;
	opacity:0;
	width:inherit;
	height: inherit;
	transition: opacity .5s;
}

.slider li img {
	
	width: 100%;
	height: 500px;
	border: white;
}

.slider li:first-child {
	opacity: 1;	
}

.slider li:target {
	opacity: 1;
}

.menu li {
	display:inline-block;
	text-align: center;
}

.menu li a {
	display:inline-block;
	color:white;
	font-family: "open-sans";
	text-decoration: none;
	background-color:#508B59;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size:20px;
	border-radius: 30px;
}

.aside {
	width: 25%;
	Height: auto;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	padding:10px;
	background: #EC881D;
}

.bold{
	font-size: 1em;
	font-weight: 700;
}

.restaurante {
	width: 60%;
	height: fit-content;
	background: #F9EEE6;
	border-radius:18px;
	padding: 25px;
}

.restaurante p {
	width: 500px;
}

.textoquepodesencontrarbienvenida{
	padding-left:50px;
	padding-right: 70px;
}

.titulos{
	padding: 60px 0px 50px 0px;
}

.datos{
	width:70%;
	height: fit-content;
	border-radius:15px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}

.horario{
	width:70%;
	height: fit-content;
	border-radius:18px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}

.comentarios{
	width:70%;
	height: fit-content;
	border-radius:18px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}

.contanos{
	padding-top: 15px;
	padding-bottom: 15px;
}
#Mensaje {
	border-radius: 30px;
	border:none;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	height: 45px;
}


.botonverforo{
	width:35%;
	height: 15px;
	background: #EC881D;
	border:none;
	border-radius:20px;
	color: white;
	font-family: "Original Surfer",cursive;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:5px;
	padding-bottom:10px;
	margin-left:25px;
	margin-right:10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.mapa{
	padding-bottom: 150px;
}

/*----------------- MAIN PIZZA-------------------*/


.información ul{
	color: #508B59;
}

.imgportada {
	width: 100%;
	height: auto;
	padding-top: 60px;
}

.comentarios label {
	font-family:'open-sans', "Alegreya Sans";
	color: #508B59;
	font-size: 1em;
}

#Mensaje {
	border-radius: 30px;
	border:none;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	height: 45px;
}

.pasos{
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-top: 50px;
}


.numerodepaso {
	font-size: 5em;
	width: 10%;
	padding-right: 20px;
	animation-name: numeros;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-play-state: running;
}

@keyframes numeros {
	to { 
	padding-top: 25px;}
}


.explicaciondepaso {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: fit-content;
	background: #F9EEE6;
	border-radius:18px;
	padding: 0px 30px 20px 30px;
	margin-top: 50px;
}

.ingredientes{
	width:70%;
	height: fit-content;
	border-radius:18px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}

.aside {
width: 30%;
Height: auto;
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items:center;
padding:10px;
background: #EC881D;
}

/*------------------ MAIN FORO-------------------*/

.globo {
	position: absolute; 
	left: 150px;
	animation-name: globo;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-play-state: running;
}

@keyframes globo {
	to { 
	padding-top: 50px;}
}


#pregunta {
	width: 660px;
	height: 50px;
	border-radius: 30px;
	border-color: none;
}

#encabezadoforo {
	gap: 50px;
	padding-left: 50px;
}

h9 {
	font-family: 'Inika', serif;
	color: #EC881D;
	font-size: 1.2em;
	width: 60%;
	text-align: center;
	padding-top: 40px;
}

.preguntasforo {
	width: 80%;
	padding-bottom: 30px;
}

.introforo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.foro {
	background-color: white;
	padding-top: 100px;
}

.center {
	display: flex;
	justify-content: center;
}

.preguntas {
	height: 190px;
	width: 60%;
	align-items: center;
	justify-content: center;
	margin: 20px 70px 40px 70px;
	padding: 20px 20px 20px 80px;
	border-style: solid;
	border-width: 3px;
	border-radius: 30px;
	border-color: #EC881D;
	padding-right: 100px;
	gap: 60px;
	
}

.sectionpreguntasforo {
	display: flex;
	flex-direction: row;
	padding: 5px 0px 5px 0px;
}

h10 {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	font-weight: 700;
}

.divbotonesforo {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.fondocremita {
	background-color: #F9EEE6;
	margin-top: 30px;
	padding-bottom: 60px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesforo {
	height: 30px;
	width: 210px;
	background-color:#508B59;
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.botonesforocrema{
	background-color: #F9EEE6;
	height: 30px;
	width: 210px;
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #508B59;
}

.sitiosrecomendados {
	width: 100%;
	justify-content: center;
	gap: 50px;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.recomendado {
	height: 500px;
	width: 20%;
	border-radius: 25px;
	background-color: #EC881D;
	text-align: center;
	padding: 20px 20px 20px 20px;
	justify-content: space-between;
	margin: 0px;
	align-items: center;
}

.recomendado:hover{
	transition: 0.5s;
	background-color:#508B59 ;
}

.sitio{
	width: 80%;
	padding-bottom: 30px;
	color:#F9EEE6;
}

.formularioforo {
	height: 190px;
	font-family:"original-surfer";
	margin: 20px 70px 70px 70px;
	padding: 30px 70px 30px 70px;
	border-style: solid;
	border-width: 3px;
	border-radius: 30px;
	border-color: #EC881D;
	gap: 60px;
}

.titulopreg {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 1.7em;
	padding-top: 5px;
	padding-bottom: 25px;
}

#Mensajeforo {
	width: 500px;
	padding-bottom: 20px;
}

.botonpregunta {
	font-family: "open-sans";
	display:flex;
	justify-content:center;
	border:none;
	margin-top: 20px;
	margin-bottom: 20px;
}

input{
	font-family: "open-sans";
	color:white;
	font-size:1em;
	background-color:#508B59;
	border-radius:30px;
}

.botonespregforo {
	align-content: center;
	height: 30px;
	width: 210px;
	background-color:#508B59;
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}


/*------------------FOOTER-------------------*/

footer {
	background-color: #EC881D;
	height: 80px;
	font-family:'open-sans', "Alegreya Sans";
	font-size:1em;
	color: white;
	width: 100%;
	padding:30px 0px 35px 0px;
	display: flex;
	justify-content: space-around;
	position: absolute;
}

a {
	cursor: pointer;
}

.imgfooter{
	padding-top: 10px;
}

.footer{
	font-size: 1em;
	padding-top: 5px;
}




/*------------------RESPONSIVE-------------------*/

@media screen and (max-width: 600px) {

	/*------------------GENERAL-------------------*/
	
.solodesktop {
	visibility: hidden;
}

.solomobile {
	visibility: visible;
}	
/*------------------MAIN INICIO-------------------*/


.maincolumnas{
	background-image: none;
	display: flex;
}

.columnaizq {
	position: fixed;
}
	
.registro {
	flex-direction: column;
	display: flex;
    align-items: center;
	gap: 35px;
}

.boton {
	width: 70%;
	background-color: #508B59;
}

.textoquepodesencontrar {
	width: 60%;
	margin-left: 0px;
}

.columnader {
	display: flex;
	align-items: center;
	
	}
	
.textosabesloquees {
	width: 75%;
	margin-left: 0px;
}

	
.letrasblancas {
		color: #EC881D;
	}

.sabes {
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	
h3 {
		padding-bottom: 80px;
	}

h2 {
		width: 70%;

	}
	

/*------------------HEADER-------------------*/	
	
#menuhamburguesa {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
	padding: 90px 30px 30px;
	background: #508B59;
	transition: opacity 500ms;
 	visibility: hidden;
 	opacity: 0;
}
#menuhamburguesa:target {
	visibility: visible;
	opacity: 1;
}	
	
#cerrarmenuhambubrguesa {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;	
}	

.headermobile {
		top: 20px;
    right: 30px;
	}
	
.botonesmobile {
		display: flex;
		flex-direction: column;
		gap:10px;
	}
	
/*------------------FORO-------------------*/
	
	
	
#encabezadoforo {
	gap: 30px;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.globo {
	left: 240px;
}

.preguntasforo {
	width: 80%;
	padding-bottom: 30px;
}

.introforo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.foro {
	background-color: white;
	padding-top: 100px;
}

.center {
	display: flex;
	justify-content: center;
}

.preguntas {
	height: fit-content;
	width: 80%;
	margin: 20px 60px 40px 60px;
	padding: 30px;
	padding-right: 0px;
	gap: 40px;
	
}

p {
	font-size: 1em;
}
	
.sectionpreguntasforo {
	display: flex;
	flex-direction: column;
	padding: 5px 0px 5px 0px;
}
	
h10 {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	font-weight: 700;
}

.divbotonesforo {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.fondocremita {
	background-color: #F9EEE6;
	margin-top: 30px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.botonesforo {
	height: 30px;
	width: 210px;
	background-color:#508B59;
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.botonesforocrema{
	background-color: #F9EEE6;
	height: 30px;
	width: 210px;
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #508B59;
}
	
.sitiosrecomendados {
	gap: 20px;
	flex-direction: column;
}
	
.recomendado {
	height: fit-content;
	width: 60%;
	padding: 20px 20px 20px 20px;
	gap: 20px;
}

.formularioforo {
	height: 180px;
	margin: 20px;
	padding: 30px;
	gap: 40px;
}

	
/*------------------GRACIAS POR UNIRTE-------------------*/	
	
.columnader {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
}
	
.preguntainicio {
	width: 70%;
}	

.flecha {
	visibility: hidden;
}
	
.gracias {
	padding-top: 50px;
}	

	
/*------------------RESTAURANTES-------------------*/
	
.contenedorcards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 0px;
}	

	.sectioncards {
		padding: 30px;
	}
	
	h3 {
		padding-bottom: 20px;
	}	
	
	
	
	
	/*------------------FOOTER-------------------*/
	
	.responsiveoculto{
		display: none;
	}
	
	h5{
		justify-content: flex-end;
	}
	
	footer {
    background-color: #EC881D;
    height: 50px;
    font-family: 'open-sans', "Alegreya Sans";
    font-size: 1em;
    color: white;
    width: 100%;
    padding: 5px 0px 3px 0px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
	}
	

/*------------------SINTAXIS-------------------*/
	
.sectionrestaurante {
	display: flex;
	flex-direction: column;
}

.paddingleft {
	padding-left: 50px;
}

	
}

