@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #EC881D;
}

main{
	display:flex;
	flex-direction: row;
	font-family:"Inika", serif;
}

.logo{
	width:40%;
	margin:130px;
}
.Formulario-inicio{
	width: 60%;
	height: auto; 
	padding-bottom:30px;
	padding-right:120px;
	margin-top:90px;
}

.Controles{
	background:#EC881D;
	padding:10px;
	margin-bottom:16px;
	border:none;
	font-size:1.2em;
}
.Boton-iniciarsesion{
	width:40%;
	height:60px;
	border-radius:30px;
	background:white;
	color:#508B59;
	margin-bottom:16px;
	border:none;
	font-size:1.5em;
	font-family:"Original Surfer",cursive;
	margin-top:10px;
	cursor:pointer;
}
.olvidaste-contraseña, label{
	color:white;
}
label{
	font-size:1.5em;
	margin-bottom:20px;
}
.olvidaste-contraseña{
	text-decoration:none;
	background: #EC881D;
	border: none;
	font-size:1.2em;
	padding-bottom: 50px;
	margin-top:20px;
	cursor: pointer;
}
hr{
	margin-top:20px;
}