@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

/*------------------HEADER-------------------*/

header {
	background-color: #508B59;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	
}

header div {
	justify-content: flex-start;
	padding-left: 10px;
}

header nav ul li {
	text-decoration: none;
	list-style: none;
	font-family: 'Inika', serif;
	display: inline-block;
	align-items: flex-end;
	background: #508B59;
	color: white;
	padding-right: 15px;
	float: left;
	justify-content: flex-end;
	padding-left: 5px;
	
}

.opciones{
	display: flex;
	position: absolute;
	flex-direction: column;
	top: 55px;
	
}

nav li:hover .opciones{
	display: flex;
}

nav li .opciones {
	display: none;
}

.botoneraheader {
	display: flex;
	text-decoration: none;
	color:black;
	padding-right: 60px;
	padding-left: 60px;
}

/*------------------MAIN GENERAL-------------------*/

h1 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 2.5em;
	padding-top: 40px;
	padding-bottom: 20px;
	width: 90%;
}

h2 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 2em;
	padding-top: 130px;
	padding-bottom: 20px;
	width: 90%;
}

h3 {
	font-family: 'Original Surfer', cursive;
	color: #508B59;
	font-size: 1.8em;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	flex-direction: row;
}

h4 {
	font-family:'open-sans', "Alegreya Sans";
	color: white;
	font-size: 1em;
	padding-bottom: 10px;
}

h5 {
	font-family:'open-sans', "Alegreya Sans";
	font-size: 0.8em;
	color: white;
}

h6 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 1.2em;
	padding-bottom: 10px;
}

h7 {
	font-family:'open-sans', "Alegreya Sans";
	color: #508B59;
	font-size: 1em;
	font-weight: 700;
}

h8 {
	font-family:'open-sans', "Alegreya Sans";
	color: #508B59;
	font-size: 1em;
}

p {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	padding-bottom: 60px;
	padding-top: 40px;
}

.columnaizq {
	width: 100%;
	align-content: center;
}

.columnader {
	width:100%;
	text-align: center;
	padding-top: 100px;
	justify-content: center;
}

/*------------------MAIN INICIO-------------------*/

.sectionbienvenida {
	display: flex;
	flex-direction:row;
}

.maininicio{
	max-width: 100%;
	background-image: url("img/forma fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
	height: inherit;
}

.botonera {
	display: inline;
}

.botones{
	width: 30%;
	height: 40px;
	margin: auto;
	margin-top: 16px;
	font-size: 0.2em;
	font-family: "Original Surfer",cursive;
	border: none;
	border-radius: 30px;
	background: #EC881D;
	color: white;
	cursor: pointer;
	padding-left: 5px;
}

.registro {
	display:flex;
	justify-content: space-evenly;
	font-family: 'Original Surfer', cursive;
	color: white;
	font-size: 1.4em;
	padding-top: 30px;
	}

.botonizq {
	background-color: #EC881D;
	border-radius:30px;
	border:none;
	padding: 5px 10px 10px 10px;
}

.botonderech {
	background-color: #EC881D;
	border-radius:30px;
	padding-bottom:30px;
	border:none;
	padding: 5px 10px 10px;
	
}

.textoquepodesencontrar {
	width: 60%;
	margin-left: 100px;
}

.textosabesloquees {
	width: 80%;
	margin-left: 25px;
}

.circulos {
	display:flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	padding-top: 50px;
	padding-bottom: 100px;
	align-content: center;
}

article {
	display:flex;
	flex-direction: column;
}

/*------------------MAIN SINTAXIS PALERMO-------------------*/

.mainrestaurantes {
	display: flex;
	flex-direction:row;
}

.aside {
	width: 25%;
	Height: auto;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	padding:10px;
	background:#EC881D;
	padding-top: 450px;
}

.bold{
	font-size: 1em;
	font-weight: 700;
}

.restaurante {
	width:65%;
	height:290px;
	background: #F9EEE6;
	border-radius:18px;
	padding:10px;
}

.textoquepodesencontrarbienvenida{
	padding-left:50px;
	padding-right: 70px;
}
.datos{
	width:70%;
	height:120px;
	border-radius:15px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}
.horario{
	width:70%;
	height:110px;
	border-radius:18px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
}
.comentarios{
	width:70%;
	height:270px;
	border-radius:18px;
	background: #F9EEE6;
	padding:20px;
	margin:15px;
	display: flex;
	flex-direction: column;
}

.boton{
	width: 30%;
	height: 30px;
	background:#EC881D;
	border:none;
	border-radius:20px;
	color: white;
	font-family: "Original Surfer",cursive;
	cursor: pointer;
}

.sintaxis{
	text-align: start;
	padding-left:200px;
	padding-top: 30px;
}
.mapa, .carrusel {
	padding-bottom: 200px;
	padding-left:200px;
}
/*------------------ MAIN RECETAS-------------------*/







/*------------------ MAIN FORO-------------------*/

.forobienvenido{
	width: 100%;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 0px;
}

.forotacfree{
	width: 100%;
	text-align: center;
	font-size: 3em;
	padding: 0px;
}
/*------------------FOOTER-------------------*/

footer {
	background-color: #EC881D;
	height: 80px;
	font-family:'open-sans', "Alegreya Sans";
	font-size:1em;
	color: white;
	width: 100%;
	padding:10px 0px 10px 0px;
	display: flex;
	justify-content: space-around;

}

a {
	cursor: pointer;
}

.imgfooter{
	padding-top: 5px;
}

.footer{
	font-size: 1em;
	padding-top: 5px;
}