@charset "utf-8";
/* CSS Document */


*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

/*------------------HEADER-------------------*/

header {
	background-color: #508B59;
	height: 70px;
	width: 100%;
	display: flex;
    align-items: center;
	justify-content: space-between;
	position: fixed;
	
}

header div {
	justify-content: flex-start;
	padding-left: 10px;
}

header nav ul li {
	text-decoration: none;
	list-style:none;
	color: white;
	font-family: 'Inika', serif;
	display: inline;
	align-items: center;
	margin-top: 10px;
	padding:10px;
}


.botoneraheader {
	display: flex;
	text-decoration: none;
	color:black;
	padding-right: 60px;
	padding-left: 60px;
}


	
/*------------------MAIN-------------------*/

main {
	display: flex;
	flex-direction: row;
	background-image: url("img/forma fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
	height: inherit;
	padding-left: 100px;
	padding-right: 150px;
}

.columnaizq {
	width: 40%;
	align-content: center;
}

.columnader {
	width: 60%;
	text-align: center;
	padding-top: 200px;
	padding-right: 120px;
	padding-left: 180px;
		
}

main div img{
	padding-top: 80px;
	padding-left: 80px;
	
}

main h1, h2 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	padding-bottom: 15px;
}

h1 {
	font-size: 6em;
}

 h2 {
	font-size: 2em;
	padding-top: 60px;
	padding-right: 120px;
	padding-left: 180px;

}

main p {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	padding-bottom: 20px;
	padding-top: 20px;
}

article {
	display:flex;
	flex-direction: column;
}
.imginicio {
	display:flex;
	justify-content: flex-end;

}

h3 {
	font-family: 'Original Surfer', cursive;
	font-size:2em;
	color:#508B59;
	text-align: center;
}



/*------------------FOOTER-------------------*/

footer {
	background-color: #EC881D;
	height: 80px;
	font-family:'open-sans', "Alegreya Sans";
	font-size:1em;
	color: white;
	width: 100%;
	padding:10px;
	display: flex;
	justify-content: space-between;

}



	
	/*------------------MAIN-------------------*/

main {
	display: flex;
	flex-direction: row;
	background-image: url("img/forma fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
	height: inherit;
	padding-left: 100px;
	padding-right: 150px;
}

.columnaizq {
	width: 40%;
	align-content: center;
}

.columnader {
	width: 60%;
	text-align: center;
	padding-top: 200px;
	padding-right: 120px;
	padding-left: 180px;
		
}

main div img{
	padding-top: 200px;
	padding-left: 80px;
	
}

.registro {
	display:flex;
	justify-content: space-evenly;
	font-family: 'Original Surfer', cursive;
	color: white;
	font-size: 2em;
	padding-top: 30px;
	
}

.botonizq {
	background-color: #EC881D;
	height:60px;
	border-radius:40px;
	margin-bottom:16px;
	border:none;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.botonderech {
	background-color: #EC881D;
	height:60px;
	border-radius:40px;
	margin-bottom:16px;
	border:none;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

main h1, h2 {
	font-family: 'Original Surfer', cursive;
	color: #EC881D;
	font-size: 2.5em;
	padding-bottom: 15px;
}

 h2 {
	font-size: 2em;
	padding-top: 170px;
	padding-right: 120px;
	padding-left: 180px;

}

main p {
	font-family: 'Inika', serif;
	color: #508B59;
	font-size: 1.2em;
	padding-bottom: 80px;
	padding-top: 20px;
}

article {
	display:flex;
	flex-direction: column;
}
.imginicio {
	display:flex;
	justify-content: flex-end;

}

h3 {
	font-family: 'Original Surfer', cursive;
	font-size:2em;
	color:#508B59;
	text-align: center;
}



/*------------------FOOTER-------------------*/

footer {
	background-color: #EC881D;
	height: 80px;
	font-family:'open-sans', "Alegreya Sans";
	font-size:1em;
	color: white;
	width: 100%;
	padding:10px;
	display: flex;
	justify-content: space-between;

}


