@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #EC881D;
}

main{
	display:flex;
	flex-direction:row;
}
.logo{
	width:40%;
	margin:130px;
}
.Formulario-inicio{
	width:60%;
	padding-bottom:30px;
	padding-right:120px;
	margin-top:80px;
	font-family:"Inika", serif;
}
h1{
	color:white;
	font-size: 1.8em;
}
.Controles{
	width:60%;
	background:#EC881D;
	padding:10px;
	margin-bottom:16px;
	font-family:"Inika", serif;
	border:none;
	font-size:1.2em;
}
p{
	color:white;
	font-size:1.2em;
	padding-bottom: 50px;
}
.Boton{
	width:40%;
	height:60px;
	border-radius:30px;
	background:white;
	color:#508B59;
	margin-bottom:16px;
	border:none;
	font-size:1.5em;
	font-family:"Original Surfer",cursive;
}